.content {
    position: relative;
  }
  .screen {
      display: block;
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
      border: 2px solid #b3b3b3;
      border-radius: 1px;
      margin: 0 auto;
  }
  .screen img {
      top: 0;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
    margin:0;
    padding:0;
      -webkit-transition: top 20s;
      -moz-transition: top 20s;
      -ms-transition: top 20s;
      -o-transition: top 20s;
      transition: bottom 20s;
  }
  .screen:hover img {
    top: -1510px;
    -webkit-transition: all 20s;
    -moz-transition: all 20s;
    -ms-transition: all 20s;
    -o-transition: all 20s;
    transition: all 20s;
  }