::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background: #ff7b7b;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #727272;
}